html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd,  fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:none;
}
.footer{
    margin-top: 4.5rem;
    padding: 0;
    border: 0;
    outline: none;
}
.hidden-body {
    visibility: hidden;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.active-link {
    color: #007bff; /* or any blue shade */
}
a{
    text-decoration: none;
    color: black;
}
*{
	line-height:1.5;
	font-family: 'Heebo', sans-serif;
}
ol, ul {
	list-style:none;
}
.dropdown-menu ul a h6:hover{
    color:#007bff;
    transition: ease-in 0.2s;
}
.font-sz{
    font-size: 14px;
}
#icon-count {
    display: inline-block;
  }
.cards{
    background-color: rgb(248, 248, 248);
    border-color: rgb(226, 226, 226);
    img{
        width: 32px;
        height: 32px;
    }

}
.cards:hover{
    box-shadow: 0px 3px 25px #00000014;
}
.cursor{
    cursor: pointer;
}
.font-blue{
    color: #4d71bede;
}
.form-control:focus{
    box-shadow: 0 0 0 .25rem rgba(251, 251, 251, 0)!important;
    border-color: #ffffff;
}
.form-control{
    border-color: #ffffff;
}
.btn:focus{
    border:#fff;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #f4f4f4!important;
}
.filter-txt{
    display: none!important;
}
.height_set{
    padding-bottom: 20rem;
}
/* navbar */
.top-nav{
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    background-color: #F9FCF6;
    -webkit-animation-name: fadeInDown !important;
    animation-name: fadeInDown !important;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    transition: 0.8s;
    position: fixed;

    .btn:focus{
        outline: 0;
        border:#fff;
    }
    .icons{
        color: #24a0ed;
        font-weight: bold;
        text-decoration: none;
    }
    .icons:hover{
        color: black;
    }
    .col-xl-5
    {
        .form-control{
            border-top: 1px solid #7c80ff;
            border-bottom: 1px solid #7c80ff;
            border-left: 1px solid #7c80ff;
        }
        .search-btn{
            border-top: 1px solid #7c80ff;
            border-bottom: 1px solid #7c80ff;
            border-right: 1px solid #7c80ff;
        }
    }
    #search-form {
        display: none;
    }
    #search-form.show{
        display: block!important;
        display: block;
        transition: display 0.3s ease-in-out;
    }

}
.jkfrjhqwd{
    display: none;
}

/* footer */
    /*  .footer{
        position: relative;
        bottom: 0px;
        width: 100%; */

/* header */
.header{
    background-color: #4d71bede!important;
    background: url("../image/Artboard.png");
    background-repeat: no-repeat;
    height: 388px !important;
    .card{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
       background-color: #fb3;
       box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    }
    .all-type{
        padding-top: 11px;
        padding-bottom: 13px;
    }

}
.header2{
    background-color: #4d71bede!important;
    background: url("../image/Artboard.png");
    background-repeat: no-repeat;
    padding-top: 59px;
    .card{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
       background-color: #fb3;
       box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    }
    .all-type{
        padding-top: 11px;
        padding-bottom: 13px;
    }
}

/* home */
.clr-bg{
    background-color: #FFBF56;
}
.icons_hme{
    .fa-angle-right{
        font-size: 19px;
        padding-left: 4px;
    }
}

/* filter */
.filter{
    height: 100%;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgb(51 51 51 / 5%);
}
.filter::-webkit-scrollbar {
    width: 5px;
}

.filter::-webkit-scrollbar-thumb {
background-color: #dddddd;
border-radius: 3px;
}
.offcanvas {
    max-width: 71%!important;
}

/* detail */
.detail {
    .col-xl-2{
        .cards {
            padding: 20px; /* default padding */
        }

        .premium-card {
            padding-top: 3px !important;
            padding-right: 8px !important;
        }

        .premium-card .premium {
            height: 20px !important;
            width: 20px !important;
        }

    }
    .scroll-bdy{
        overflow-y: scroll;
        height: 130vh;
    }
    .scroll-bdy::-webkit-scrollbar {
        display: none;
    }
    .modal{
        --bs-modal-width: 921px!important;
    }
    .modal-body{

       #size {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 300px; /* Set a fixed height */
        }

        .modal-image-container {
            width: 256px; /* Fixed width */
            height: 256px; /* Fixed height */
            position: relative;
            overflow: hidden;
            background-color: #fff; /* Background color */
            border-radius: 15px; /* Curved borders */
        }

        #modal-icon-img {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); /* Center the image */
            max-width: 100%;
            max-height: 100%;
        }
        /* Icon Container */
        .icon-container {
            position: relative;
            padding: 0% 0% 1% 35%; /* Adjust this for responsiveness */
            display: flex; /* Flexbox for layout */
            justify-content: left; /* Center the icon */
            align-items: center; /* Align the icon vertically */
        }

        #modal-icon-img svg {
            width: 100%; /* Set the desired width of the SVG */
            height: 100%; /* Set the desired height of the SVG */
            max-width: 100%; /* Ensure it doesn't stretch beyond container */
            max-height: 100%; /* Ensure it doesn't stretch beyond container */
        }

        .skeleton-loader {
            display: flex;
            justify-content: center;
            height: 300px;
            align-items: center;
            background-color: #f0f0f000;
            border-radius: 10px;
            position: relative;
            overflow: hidden;
        }
        .skeleton-item {
            width: 250px;
            height: 300px;
            background-color: #e2e5e767;
            border-radius: 12px;
            position: relative;
            overflow: hidden;
        }

        .skeleton-item::before {
            content: "";
            position: absolute;
            top: 0;
            left: -100%;  /* Start shine off-screen to the left */
            height: 100%;
            width: 100%;
            background: linear-gradient(
                90deg,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0.5) 50%,
                rgba(255, 255, 255, 0) 100%
            );
            animation: shine 1.5s ease-in-out infinite;
        }

        @keyframes shine {
            to {
                left: 100%;  /* Move shine from left to right */
            }
        }

        /* Dark Mode and Day Mode Icons */
        .dark-mode, .day-mode {
            width: 5vw; /* Use viewport width for responsiveness */
            height: 5vw; /* Maintain a proportional height */
            max-width: 30px; /* Optional: Set a max width to prevent icons from getting too large */
            max-height: 3% ; /* Optional: Set a max height */
            transition: fill 0.3s ease, width 0.3s ease, height 0.3s ease; /* Smooth transitions */
        }

        /* Dark Mode Icon */
        .dark-mode {
            fill: #91a3b0;
        }
        .dark-mode:hover {
            cursor: pointer;
            fill: #3686A0;
        }

        /* Day Mode Icon */
        .day-mode {
            fill: #FDB813;
        }
        .day-mode:hover {
            cursor: pointer;
            fill: darkgoldenrod;
        }

        #downloadicons{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

        }
        .cardd {
            background-color: #4285f4;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            width: 190px;
            text-align: center;
            user-select: none;
            font-size: 20px;
            text-transform: uppercase;
            transition: all 0.4s ease-in-out;
            position: relative;
            overflow: hidden;
            transform-style: preserve-3d;
        }

        .cardd:hover {
            background-color: #2f6cce;
            border-radius: 0;
            scale: 1.1;
            transform: rotateY(20deg);
        }

        .cardd:hover::after {
            width: 100%;
        }

        .cardd:nth-child(3) {
            background-color: #D4403A;
            transform: rotate(0deg);
            transition: all 0.4s ease-in-out;
        }

        .cardd:nth-child(3):hover {
            background-color: #c02621;
            border-radius: 0;
            scale: 1.1;
            transform: rotateY(20deg);
        }

        .cardd:nth-child(4) {
            background-color: #3A833A;
            transform: rotate(0deg);
            transition: all 0.4s ease-in-out;
        }

        .cardd:nth-child(4):hover {
            background-color: #396e39;
            border-radius: 0;
            scale: 1.1;
            transform: rotateY(20deg);
        }


        .row{
            justify-content: center;
            width: 100%;
        }
        .d-flex {
            display: flex;
        }

        .justify-content-between {
            justify-content: space-between;
        }

        .align-items-center {
            align-items: center;
        }

        .size-control {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .color-picker {
            flex: 2;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .color-picker input[type="color"] {
            appearance: none;
            -webkit-appearance: none;
            border: none;
            width: 3rem;
            height: 2rem;
            overflow: hidden;
            cursor: pointer;
        }

        .color-picker input[type="color"]::-webkit-color-swatch {
            border: none;
        }

        .color-picker input[type="color"]::-webkit-color-swatch-wrapper {
            padding: 0;
        }

        /* .jscolor {
            position: fixed;
            z-index: 3;
            padding: 1em;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
            border: 0;
            border-radius: 5px;
            cursor: pointer;
          } */

    }


    .related-icons{

        .card{
            background-color: rgb(248, 248, 248)!important;
            border-color: rgb(226, 226, 226);
            img{
                width: 45px;
                height: 45px;
            }
        }
        .owl-theme .owl-prev, .owl-theme .owl-next {
            position: absolute;
            top: 45%;
            transform: translateY(-50%);
            width: 45px;
            height: 48px;
            color: #737373 !important;
            text-align: center;
            cursor: pointer;
            font-size: 31px;
        }
        .owl-theme .owl-next {
            right: 8px;
        }
        .owl-theme .owl-prev {
            left: 8px;
        }
    }
}
#loading_indicator {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 5px solid rgba(128, 128, 128, 0.247);
    border-radius: 50%;
    border-top: 5px solid blue;
    width: 80px;
    height: 80px;
    animation: spinIndicator 1s linear infinite;
 }
 @keyframes spinIndicator {
    100% {
       transform: rotate(360deg);
    }
 }
/* Center the spinner in the modal */
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(43, 42, 42, 0.227);
    display: none; /* Hidden by default */
    z-index: 1100; /* Ensure it appears above other elements */
    justify-content: center;
    align-items: center;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.loading-spinner {
    width: 20px;
    height: 20px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: #ffffff;
    animation: spin 1s linear infinite;
    display: none; /* Hide spinner by default */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


#search_css{
    .col-xl-2{
        .cards {
            padding: 20px; /* default padding */
        }

        .premium-card {
            padding-top: 3px !important;
            padding-right: 8px !important;
        }

        .premium-card .premium {
            height: 20px !important;
            width: 20px !important;
        }

    }
    .modal{
        --bs-modal-width: 921px!important;
    }
    .modal-body{
        .detail-img{
            width: 200px;
            height: 200px;
        }
        .card{
            background-color: #4285f4;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            width: 190px;
        }
    }

    .related-icons{
        .card{
            background-color: rgb(248, 248, 248)!important;
            border-color: rgb(226, 226, 226);
            img{
                width: 45px;
                height: 45px;
            }
        }
        .owl-theme .owl-prev, .owl-theme .owl-next {
            position: absolute;
            top: 40%;
            transform: translateY(-50%);
            width: 45px;
            height: 48px;
            color: #737373 !important;
            text-align: center;
            cursor: pointer;
            font-size: 31px;
        }
        .owl-theme .owl-next {
            right: 8px;
        }
        .owl-theme .owl-prev {
            left: 8px;
        }
    }
}

/* scroll to top */

#scroll-to-top {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 15px;
    z-index: 99;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: 9px 13px;
    border-radius: 50%;
    width: 100px;
    height: 150px;
    color: #fff;
    transition: transform 0.4s ease-in-out;
}


#scroll-to-top.animate-up {
    transform: translateY(-200px); /* Adjust this value to control how high the image moves */
}

@keyframes moveUp {
    0% {
        bottom: 10px;
    }
    100% {
        bottom: 100%;
    }
}

#scroll-to-top.animate {
    animation: moveUp 1s forwards;
}

/* responsive */
@media only screen and (max-width: 377px){
    .cards .pb-5{
        padding-bottom: 2rem !important;
    }
    .header .pt-5{
        padding-top: 2rem !important;
    }

}
@media only screen and (max-width:600px){
    h1{
        font-size: 23px!important;
    }
    h2{
        font-size: 19px!important;
    }
    h4{
        font-size: 17px!important;
    }
    h5{
        font-size: 15px!important;
    }
    h6{
        font-size: 14px!important;
    }
    .header {
        height: 311px !important;
    }
    .input-group::placeholder{
        font-size: 14px;
    }
    .static-contents img{
        width: 50%!important;
    }
    .filter{
        display: none;
    }
    .filter-txt{
        display: block!important;
    }
    .modal-body .font-sz{
        font-size: 10px!important;
    }
    .jkfrjhqwd{
        display: block!important;

    }
    .jkfrjh{
        display: none!important;
    }
    .top-nav {

        #search-form.show {
            display: none !important;
        }
    }
}
@media (min-width: 333px) and (max-width: 767px){
    .container{
        max-width: 678px!important;
    }

}
@media (min-width: 992px) and (max-width: 1024px){
    .subcategory .col-lg-10{
        width: 100%!important;
    }
    .detail .col-lg-10{
        width: 100%!important;
    }

}
@media (min-width: 600px) and (max-width: 1024px){
    h1{
        font-size: 23px!important;
    }
    h2{
        font-size: 19px!important;
    }
    h4{
        font-size: 18px!important;
    }
    .filter{
        display: none;
    }
    .filter-txt{
        display: block!important;
    }
    .footer{
        margin-top: 32.5rem;
    }
}

/* Small screens (e.g., phones) */
@media (max-width: 576px) {
    #loadingSpinner .spinner-border {
      width: 2rem; /* Smaller size for small screens */
      height: 2rem;
      border-width: 0.2rem;
    }
  }

  /* Large screens (e.g., desktops) */
  @media (min-width: 800ox) {
    #loadingSpinner .spinner-border {
      width: 4rem; /* Larger size for large screens */
      height: 4rem;
      border-width: 0.3rem;
    }
  }

  /* Extra large screens */
  @media (min-width: 1200px) {
    #loadingSpinner .spinner-border {
      width: 5rem; /* Even larger size for extra large screens */
      height: 5rem;
      border-width: 0.35rem;
    }
  }

  /* Media Queries for Responsiveness */
@media (max-width: 768px) {
    /* For tablets or small screens */
    .dark-mode, .day-mode {
        width: 7vw;
        height: 7vw;
    }

    .icon-container {
        padding: 0% 0% 1% 25%; /* Adjust padding for smaller screens */
    }
}

@media (max-width: 480px) {
    /* For mobile devices */
    .dark-mode, .day-mode {
        width: 10vw;
        height: 10vw;
    }

    .icon-container {
        padding: 0% 0% 1% 15%; /* Further adjust padding for mobile */
    }
}
